.addNewBackground {
  background-color: #3f665aca;
  width: 100%;
  min-height: 100%;
  position: fixed;
  z-index: 1;
}

.hidden {
  display: none;
}

.addNewBase {
  background-color: #F5F1EB;
  position: absolute;
  z-index: 1;
  top: 5%;
  left: 25%;
  width: 40%;
  padding: 4em;
  border: 1px solid rgb(117, 117, 117);
  box-shadow: 1px 1px #454545;
}

.addNewIcons {
  font-size: 1.5em;
  margin: 0.2em;
  padding: 0.2em;
  display: inline;
  cursor: pointer;
  line-height: 50px;
  border-radius: 100px;
}

@media screen and (max-width: 1000px) {
  .addNewBase {
    top: 5%;
    left: 5%;
    width: 80%;
    height: auto;
    padding: 2em;
  }

  .addNewIcons {
    font-size: 2.2em;
    width: 60px;
    height: 60px;
    line-height: 65px;
  }
}

textarea {
  height: 300px;
  font-family: "Open sans";
}


.fullWidth {
  width: 98%;
}

.floatRight {
  float: right;
}

.marginTop {
  margin-top: 0.5em;
}

.addNewInput {
  font-size: 1em;
  border-radius: 5px;
  padding: 0.5em;
  margin-bottom: 1em;
  background-color: #ffffff;
  border: 1px solid rgb(200, 200, 200);
}

.addNewInput[type="checkbox"] {
  scale: 1.5;
  margin-right: 0.5em;
}
.deleteSubtask {
  font-size: 1.2em;
  margin-left: 0.5em;
}

.deleteSubtask:active {
  font-size: 1.1em;
}

.addSubtask, .submitNew {
  font-size: 1em;
  padding: 0.7em 1em;
  min-width: 45px;
  background-color: #fabb29;
  margin-bottom: 0 00.5em;
  border: 0;
  border-radius: 5px;
}

.closeForm {
  border: 0;
  padding: 0.2em;
  font-size: 1.5em;
  background-color: #F5F1EB;
  position: absolute;
  top: 1em;
  right: 1em;
}

.closeForm:hover {
  background-color: #F5F1EB;
}

.formTitle {
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  margin: 0.5em;
}