@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: #F5F1EB;
}

#root {
  font-family: "Open Sans";
  font-size: 0.9em;
  color: #265e4b;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1000px) {
}