.header {
  color: #fff;
  width: 100%;
  height: 75px;
  background-color: #3F665A;
  box-shadow: 1px 1px #D4D4D4;
}

.right {
  height: auto;
  padding: 1em;
  float: right;
}

.left {
  height: auto;
  padding: 1em;
}

.right:hover {
  color: #89c0af;
}

.headerLinks {
  list-style-type: none;
}

.headerLinks li {
  float: left;
  color: #fff;
  vertical-align: top;
  padding: 0.85em 0.5em;
}

.homeLink:hover {
  color: #89c0af;
}

.headerTitle {
  font-weight: 600;
  font-size: 1.3em;
  margin-top: -0.3em;
}

.homeLink {
  margin: 0 1em;
}

/* Header - Scalability */
@media screen and (max-width: 1200px) {  
  .header {
    height: 50px !important;
  }

  .headerLinks li {
    padding: 0 1em;
  }
  
  .right {
    height: auto;
    padding: 1em 0em;
    float: right;
  }
  
  .left {
    height: auto;
    padding: 1em 0em;
  }

  .headerTitle {
    margin-top: -0.125em;
  }
  
}