.right {
  height: auto;
  padding: 2.5em;
  float: right;
}

.left {
  height: auto;
  padding: 2.5em;
}

.headerLinks {
  list-style-type: none;
}

.headerLinks li {
  float: left;
  vertical-align: top;
  margin-right: 1em;
}

.homeLink {
  padding-right: 2em;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(227, 226, 219);
}

a:active {
  color: rgb(204, 202, 189);
}

@media screen and (max-width: 850px) {  
  .header {
    height: 50px !important;
  }
  
  .right {
    height: auto;
    padding: 1em;
    float: right;
  }
  
  .left {
    height: auto;
    padding: 1em;
  }
  
}