/* Flex container */
.flex-container {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
}

.homeMenu, .homeMemos, .homeTodos {
 padding: 2em  1em 0em 1em; 
 display: inline-block;   
 vertical-align: top; 
}

.homeMemos, .homeTodos {
  width: auto;
  width: 50vw;
}

h1 {
  margin-top: 0;
}

/* Alert text */
.alertText {
  color: #F05365;
  font-weight: 600;
  text-align: center;
}

.messageText {
  color: #169b24;
  font-weight: 600;
  text-align: center;
}

/* Home - To do tasks */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.task { 
  background-color: white;
  border: 1px solid rgb(222, 222, 222);
  box-shadow: 1px 1px #D4D4D4;
  margin-bottom: 1em;
  width: 100%;
  min-width: 500px;
  display: flex;
  position: relative;
} 

.taskBody {
  padding: 0.75em;
  width: 100%;
  min-height: 100%;
  position: relative;
  margin-left: 20px;
}

.taskIcon {
  margin-right: 0.4em;
  position: absolute;
  left: -30px;
}

.taskContent {
  position: relative;
  margin-left: 32px;
  max-width: 100%;
  margin-bottom: 0.3em;
 }

.iconWrapper {
  box-sizing: border-box;
  text-align: right;
  min-width: 100px;
  height: 100%;
  float: right;
  padding-right: 1em;
}

.icon {
  font-size: 0.9em;
  padding: 0.5em;
  margin: 0.5em 0 0.5em 0;
  display: inline-block;
  cursor: pointer;
}

.subtask {
  font-size: 0.95em;
}

.taskColor {
  width: 25px;
  min-height: 100%;
  float: left;
  align-items: stretch;
  position: absolute;
}

.taskColor-yellow {
  background-color: #FABC2A;
}

.taskColor-green {
  background-color: #86DEDE;
}

.taskColor-red {
  background-color: #F05365;
}

/* Home - Left menu */
.homeMenuWrapper {
  width: 300px;
  margin: 0em 1em;
}

.weekViewHeader {
  width: 100%;
  height: 40px;
  background-color: #5B8E7D; 
  border-radius: 1.75em 1.75em 0 0;
  box-shadow: 1px 0px #D4D4D4;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2em;
  padding-top: 1em;
  margin-bottom: 0.2em;
}

.weekViewBody {
  width: 300px;
  height: auto;
  border-radius: 2em;
  background-color: #fff;
  box-shadow: 1px 1px #D4D4D4;
  padding-bottom: 1em;
}

.dayDiv {
  width: 42px;
  padding: 0.65em 0;
  text-align: center;
  display: inline-block;
  border-radius: 25px;
}

.currentDate {
  box-sizing: border-box; 
  border: 3px solid #FABC2A;
  font-weight: 600;
}

.searchInput {
  border: 0;
  width: 95%;
  height: 40px;
  margin: 1em 0;
  border-radius: 0.4em;
  padding: 0 0.5em;
}

.addNewButton {
  width: 100%;
  height: 40px;
  border: 0;
  background-color: #fabb29;
  border-radius: 0.4em;
}

/* Home - filter buttons */
.filterToggleButton {
  background-color: #F5F1EB;
  text-align: center;
  font-size: 2em;
  height: 50px;
  width: 50px;
  border-radius: 2em;
  border: 0;
  cursor: pointer;
}

.toggleButton:active {
  transform: scale(0.95);
}

Button:hover {
  background-color: #ffc53e;
}

Button:active {
  background-color: #f0b01b;
}

Input[type="checkbox"] {
  vertical-align: middle;
  margin-bottom: 5px;
  padding: 0;
}

/* Home - Memos */
.memoWrapper {
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 1px 1px #D4D4D4;
  border: 1px solid rgb(222, 222, 222);
  max-width: 100% - 2em;
  margin-bottom: 1em;
  padding: 1em;
  position: relative;
}

.homeMemoWrapper {
  width: 100%;
}

/* Home - Scalability */
@media screen and (max-width: 1000px) {
  .homeMemoWrapper, .memoWrapper, .homeMemos, .homeTodos {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
  }

  .weekViewBody, .hideMobile {
   display: none !important;
  }

  .homeMenu {
    width: 100%;
    margin: auto;
  }

  .icon {
    font-size: 1.3em;
  }

  .homeMenuWrapper {
    width: 99%;
    margin: 0;
  }
  
  .addNewButton {
    width: 98%;
    margin-bottom: 1em;
  }

  .homeTodos {
    min-width: 90%;
  }

  .flex-container {
    flex-flow: none !important;
    display: inline;
    margin: 0;
    padding: 0;
  }

  .searchInput {
    width: 96%;
    margin-bottom: 1em; 
  }

  .filterToggleButton {
    margin: 0.2em;
    margin-top: 0.5em;
  }

  .filterToggleButton {
    font-size: 2.5em;
    width: 65px;
    height: 65px;
    margin: 0.2em 0;
  }
  
  .iconWrapper {
    float: right;
    position: relative;
    width: 100px;
    padding: 0;
  }

  .icon {
    padding: 0 0.5em 0 0;
  }
}
