/* Flex container */
.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

.flex-container > div {
  width: auto;
  padding: 1em 2.5em 2em 2em; 
}

.homeMenu, .homeNotes {
}

.homeTodos {
  flex-grow: 3;
}

/* Home - To do tasks */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.task { 
  background-color: white;
  border: 1px solid rgb(222, 222, 222);
  box-shadow: 1px 1px #D4D4D4;
  display: flex;
  margin-bottom: 1em;
  width: 100%;
} 

.taskBody {
  padding: 0.75em;
  width: 100%;
}

.iconWrapper {
  float: right;
  text-align: right;
  min-width: 100px;
  margin-right: 1em;
}

.icon {
  font-size: 0.9em;
  padding: 0.5em;
  margin: 0.5em 0 0.5em 0;
  display: inline-block;
}

.subtask {
  font-size: 0.95em;
}

.taskColor {
  width: 20px;
  min-height: 100%;
  float: left;
  align-items: stretch;
}

.taskColor-yellow {
  background-color: #FABC2A;
  width: 20px;
  min-height: 100%;
  float: left;
  align-items: stretch;
}

.taskColor-green {
  background-color: #86DEDE;
  width: 20px;
  min-height: 100%;
  float: left;
  align-items: stretch;
}

.taskColor-red {
  background-color: #F05365;
  width: 20px;
  min-height: 100%;
  float: left;
  align-items: stretch;
}

/* Home - Left menu */
.homeMenuWrapper {
  width: 300px;
}

.weekViewHeader {
  width: 100%;
  height: 40px;
  background-color: #5B8E7D; 
  border-radius: 1.75em 1.75em 0 0;
  box-shadow: 1px 0px #D4D4D4;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2em;
  padding-top: 1em;
  margin-bottom: 0.2em;
}

.weekViewBody {
  width: 300px;
  height: auto;
  border-radius: 2em;
  background-color: #fff;
  box-shadow: 1px 1px #D4D4D4;
  padding-bottom: 1em;
}

.dayDiv {
  width: 42px;
  padding: 0.65em 0;
  text-align: center;
  display: inline-block;
  border-radius: 25px;
}

.currentDate {
  box-sizing: border-box; 
  border: 3px solid #FABC2A;
  font-weight: 600;
}

.searchInput {
  border: 0;
  width: 95%;
  height: 40px;
  margin: 1em 0;
  border-radius: 0.4em;
  padding: 0 0.5em;
}

.addNewButton {
  width: 100%;
  height: 40px;
  border: 0;
  background-color: #fabb29;
  border-radius: 0.4em;
}

/* Home - filter buttons */
.filterToggleButton {
  background-color: #F5F1EB;
  text-align: center;
  font-size: 1.8em;
  margin: 5px;
  height: 50px;
  width: 50px;
  border-radius: 2em;
  border: 0;
}

.toggleButton:active {
  transform: scale(0.95);
}

Button:hover {
  background-color: #ffc53e;
}

Button:active {
  background-color: #f0b01b;
}

Input[type="checkbox"] {
  vertical-align: middle;
  margin-bottom: 5px;
  padding: 0;
}

/* Home - Memos */
.memoWrapper {
  background-color: #fff;
  box-shadow: 1px 1px #D4D4D4;
  border: 1px solid rgb(222, 222, 222);
  max-width: 30vw;
  padding: 1em;
  margin: 0 1em 1em 0em;
}

.homeMemoWrapper {
  min-width: 30vw;
}

/* Home - Scalability */
@media screen and (max-width: 1550px) {
  .homeMemoWrapper, .memoWrapper {
    max-width: 700px;
  }
}

@media screen and (max-width: 800px) {  
  .weekViewBody, .hideMobile {
  display: none !important;
  }

  .icon {
    font-size: 1.2em;
  }

  .homeMenuWrapper, .addNewButton {
    width: 100%;
    text-align: center;
  }

  .homeTodos {
    min-width: 90%;
  }

  .flex-container {
    flex-flow: none !important;
    display: inline;
  }

  .searchInput {
    width: 98%;
    margin-bottom: 1em; 
  }

  .filterToggleButton {
    margin: 0.2em;
    margin-top: 0.5em;
  }
}
