.loginImg {
  width: 50vw;
  height: 100vh;
  /* background-color: #235f4d; */
  background: url('../assets/organizer-791939_1920.jpg') no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  float: left;
}

.loginImg p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.loginView {
  width: 50vw;
  height: 85vh;
  float: left;
  padding: 15vh 0 0 0;
}

.loginDiv {
  margin: auto;
  width: 450px;
  border-radius: 25px;
  background-color: white;
  border: 1px solid rgb(166, 166, 166);
  box-shadow: 1px 1px #a2a2a2;
}

.loginInput {
  border: 1px solid grey;
  width: 96%;
  height: 40px;
  margin: 1em 0;
  border-radius: 10px;
  padding: 0 0.5em;
}

.loginFormWrapper {
  padding: 2em;
}

.loginAppTitle {
  text-align: center;
  font-size: 1.5em;
  padding: 1em 1em;
  border-radius: 0.6em 0.6em 0 0;
  border: 1px solid rgb(166, 166, 166);
  background-color: #235f4d;
  color: white;
}

.loginTitleSmall {
  margin: 0;
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
}

.loginTitle {
  margin: 0;
  text-align: center;
  font-size: 4em;
  font-weight: 600;
  margin-bottom: 1em;
}

.loginButton {
  border: 0;
  width: 100%;
  height: 40px;
  background-color: #fabb29;
  border-radius: 2em;
  font-weight: bold;
  font-size: 1.1em;
  color: #235f4d;
}

.loginButton:hover {
  background-color: #ffc53e;
}

.loginButton:active {
  background-color: #f0b01b;
}

.loginPasswordButton {
  width: 40px;
  height: 40px;
  border: 0;
  background-color: #3F665A;
  color: white;
  border-radius: 25px;
  padding: 0.25em 0.5em;
}

.loginPasswordButton:hover {
  background-color: #4c8473;
}

.loginPasswordButton:active {
  background-color: #284a40;
}

.showPasswordDiv {
  width: 100%;
  text-align: right;
}

a {
  color: #40682e;
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  color: #619d8b;
}

a:active {
  color: #235f4d;
}

.showMobile {
  display: none;
  margin: 0;
}

.hideMobile {
  display: inherit;
}

@media screen and (max-width: 1000px) {
  .loginImg {
    display: none;
  }

  .loginView {
    width: 100vw;
    background-image: url('../assets/organizer-791939_1920.jpg');
    background-position: center;
    background-size: cover;
  }

  .showMobile {
    display: inherit;
  }

  .hideMobile {
    display: none;
  }
}